@import "tailwindcss";
@import "@nuxt/ui";

:root {
  --ui-primary: var(--ui-color-primary-700);
  --ui-bg-elevated: #f9f9f9;
}
.dark {
  --ui-primary: var(--ui-color-primary-800);
  --ui-bg-elevated: #191919;
}
