@import "tailwindcss";
@import "@nuxt/ui";

:root {
  --app-font-family: "Montserrat", sans-serif;
  --app-primary: #01a53f;
  --app-foreground: #09090b;
  --app-background: #fafafa;
  --app-elevated: #ffffff;
  --app-border: #dfdfdf;

  &.dark {
    --app-primary: #00bf49;
    --app-foreground: #ffffff;
    --app-background: #141414;
    --app-elevated: #181818;
    --app-border: #404040;
  }
}

:root {
  --font-family-sans: var(--app-font-family);
  --ui-text: var(--app-foreground);
  --ui-bg: var(--app-background);
  --ui-bg-elevated: var(--app-elevated);
  --ui-border: var(--app-border);
  --ui-radius: var(--radius-md);
}

@theme {
  --color-primary: var(--app-primary);
  --color-foreground: var(--app-foreground);
  --color-background: var(--app-background);
  --color-muted: var(--ui-text-muted);
  --color-border: var(--app-border);
  --color-elevated: var(--app-elevated);
}
