@import "tailwindcss";
@import "@nuxt/ui";

:root {
  --app-font-family: "Poppins", sans-serif;
  --app-primary: #01a53f;
  --app-secondary: #d7d7d7;
  --app-foreground: #09090b;
  --app-background: #f5f5f5;
  --app-border: var(--app-secondary);

  &.dark {
    --app-primary: #00bf49;
    --app-secondary: #2e2e2e;
    --app-foreground: #f5f5f5;
    --app-background: #171717;
  }
}

:root {
  --font-family-sans: var(--app-font-family);
  --ui-text: var(--app-foreground);
  --ui-secondary: var(--app-secondary);
  --ui-bg: var(--app-background);
  --ui-border: var(--app-border);
}

@theme {
  --color-primary: var(--app-primary);
  --color-background: var(--app-background);
  --color-muted: var(--ui-text-muted);
  --color-border: var(--app-border);
}
